body{
	margin: 0;

}
.body{
	position: relative;
	margin-top: 0;
	background-color: black;
	width: 100%;
	height: 100vh
}
.clear{
	clear: both;
}
.bar{
	width: 420px;
	/*position: absolute;*/
	/*left: 45%;*/
	text-align: center;
	margin-left: 35%
}
.title{
 font-family: cursive;
 /*margin-top: 20px;*/
 position: relative;
 text-transform: capitalize;
 color: white;
 text-align: center;
 font-size: 40px;
}
.title:after{
    position: absolute;
	background-color: blue;
	content: " ";
	width: 0;
	height: 6px;
	top:100%;
	left: 20%;
    transition: width 0.5s;
}

.title:hover:after{
	width: 94px;
    	

}

/*                                                           */
.about{
 /*position: relative;*/
 margin: 0;
}
.effect11{
	position: relative;
	margin: 0;
	background-color: white;
	position: absolute;
	border: 1px solid black;
	border-radius: 7px;
	text-align: center;
	width: 20%;
	height:250px;
	padding: 20px;
	top: 167px;
	left: 10%
}

.effect{
	margin: 0;
	background-color: white;
	position: absolute;
	border: 1px solid black;
	border-radius: 7px;
	text-align: center;
	width: 20%;
	height:250px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
}
.about:after{
	position: absolute;
	content: "";
	background-color: black;
	/*opacity: 0.3;*/
	z-index: -1;
	width: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
    transition: width 0.5s;
    

}
.about:hover:after{
  width:101%;
  margin-left: 0 
}

.effect11:hover{
 background-color: black;
 transition:background-color 0.5s;
}

.effect:hover .item-title,.effect11:hover .item-title{
	color: white;
	transition:color 0.4s;
}
.effect:hover .item-text,.effect11:hover .item-text{
   color: white;
   transition: color 0.4s;
}

.icone{
	margin-top: 20px;
	font-size: 50px;
	color: blue
}
.item-title{
 text-transform: capitalize;
 font-family: cursive
}
.item-text{
line-height:21px;
margin-bottom: 30px;
font-family: cursive;
}
.item-link{
	text-transform: capitalize;
	text-decoration: none;
	font-family:fantasy;
	color: blue
}


.portfolio{
	height: 100vh;
	width: 100%;
    position: relative;
}
/*                                 2eme page                */


.portfolio-ab{	
	border-radius: 13px;
  position: relative;
  float: left;
	 width: 250px;
  height: 250px;
  border: 1px solid white;
  background-size: cover;
  background-color: black;
    background-image: url(./img/work/work5.webp);
    opacity: 0.8;
  	transition: border-radius 1s;
   margin-left: 50px;
   margin-bottom: 28px;
   /*margin-top: 17px*/

}






.option{
	position: absolute;
	width: 100%;
	height: 100%;
	top:20%;
	text-align: center;
	line-height: 18px;
	visibility: hidden;
	opacity: 0;

	
}

.portfolio-ab:hover .option{
	visibility: visible;
	opacity: 1;

}
.portfolio-ab:hover{
	/*padding: 20px;	*/
	opacity: 0.6;
    border-radius: 43px;

}




#option-title{
	font-size: 45px;
	color: blue
}
#option-text{
	font-size: 20px
}
#icone1{
	margin-top: 4px;
	margin-right: 15px;
	color: white;
	background-color: blue
}

/*                     page 3                */


.item-offer{
	border: 1px solid black;
	border-radius: 10px;
	position:relative; 
	width: 350px;
	height: 200px;
	background-color: white;
	float: left;
	overflow: hidden;
	margin-left: 70px;
	margin-bottom:20px ; 
	margin-top: 12px;
    
}

.a{
	position: absolute;
	height: 100%;
	width: 10%;
	left: 4%;
	display: block;
	z-index: 1
}
.b{
	position: absolute;
	width: 80%;
	height: 100%;
	left: 20%;
	z-index: 1;
	/*background-color: red;*/
    
}
.icon-offre{
	position: absolute;
	/*background-color: gray;*/
	top: 16%;
	color: #1E90FF
	
}
.offer-title{
	font-size: 30px;
	/*color: white*/
}
.offer-text{
	font-size: 18px;
	color: #696969
}

/*.item-offer1{
	position: relative;
}*/
.a:after,.b:after{
	
	content: "";
	position: absolute;
	width: 0;
	left: 0;
	top: 0;
     right: 0;
     bottom: 0;
	background-color: black;
	/*opacity: 0.8;*/
	z-index: -1;
	transition: width 0.5s;
    
}

.a:hover:after,.b:hover:after{
	width: 100%;
    
}

.b:hover .offer-text {
	color: gray;
	font-family: cursive;
	font-size: 15px
}
.b:hover .offer-title{
   color: white;
   font-family: cursive;
}
/*                                      patie 3*/
#body1{
	position: absolute;
	width: 90%;
	left: 5%
	/*background-color: blue*/
}
/*.body2{
	position: relative;
}*/
.body1-partie1{
	position: absolute;
	/*background-color: yellow;*/
	width: 50%;
	height: 100%;
	color: #7DB1E5
}
.body1-partie2{
	position: absolute;
	/*background-color: red;*/
	width: 50%;
	height: 100%;
	left: 50%;
	;
}
.partie1-title{
	position: relative;
	font-size: 30px;
	left: 0;
	font-family: cursive;
}
.partie1-title:after{
	position: absolute;
	content: "";
	width: 200px;
	height: 5px;
	background-color: white;
	left: 32%;
	top: 95%

}

.partie1-content{
	position: absolute;
	width: 90%;
	height: 500%;
	background-color: black;
	left: 5%;
	border:1px solid gray;
	border-radius: 4px;
	/*text-align: center;*/
	color: white;
	font-size: 22px;
	line-height: 40px

}
.body .body1-partie1 .partie1-content ul li{
	list-style: none;	
	color: gray
}
.body .body1-partie1 .partie1-content ul li i{
	font-size: 20px;
	border: 1px solid #7DB1E5;
	margin-right: 10px;
	padding: 5px;
	color: #7DB1E5;
	border-radius: 50%
}

.body1-partie2{
	position: relative;
}
.partie2-image{
  position: absolute;
  width: 90%;
  height: 75%;
  left: 5%;
  top: 15%;
  background-image: url(./img/about/about2.webp);
  background-size: cover;
  border-radius: 4px

}
.partie2-boton{
	position: absolute;
	bottom: 16px;
	left: 44%;

}
.partie2-boton ul li{
	color: white;
	font-size: 30px
    
}
.partie2-boton ul {
display: inline-block;
}

.partie2-boton ul li:hover{
	color: #7DB1E5
}
.service{
	width: 100%;
	height: 50vh;
	background-color: red;
	background-image: url(./img/background/background2.webp);
	position: absolute;
	background-attachment: fixed;
	background-position: 80% 0; 
}

.service-fils{
	
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	text-align: center;

}
.service .service-fils i{
	color: blue;
	margin-top: 100px;
	margin-left: 100px;
	font-size: 50px
	
}
#number{
	color: white;
	font-size: 40px;
	font-family: cursive;


}
#item-info{
	color: white;
	font-size: 20px;
	font-family:cursive; 

}

/*                page 5                  */
.pricing{
	z-index: 1;
	position: relative;
	width: 28%;
	height: 70%;
	/*background-color: red;*/
	/*border: 1px solid ;*/
	float: left;
	margin-left: 33px;
	margin-top: 40px;
	text-align: center;	
}

.pricing:after{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	height:0;
	transition:height 0.5s;
	z-index: -1;
}

.pricing:hover:after{
  height:100%;
  border-radius: 15px
}

.pricing:hover .pricing1{
   border:1px solid blue;
   color: black;
   transition: color 0.5s;
   transition: border 0.5s
}
.pricing:hover .para{
  color: black;
  transition: color 0.5s;
  font-family: cursive;
}
.pricing:hover .pricing1-h2,.pricing:hover .pricing1-h1,.pricing:hover .btn{
	font-family: cursive;
}

.pricing1{
	z-index: 2;
	position: relative;
	width:35%;
	height: 35%;
	margin-left: 31%;
	/*background-color: yellow;*/
	border-radius: 50%;
	text-align: center;
	border:1px solid blue;
	color: white
}
.pricing1-h1{
	font-size: 45px;
	line-height: 10px;
	margin-top: 55px
}
.pricing1-h2{
	line-height: 0px
}
.btn{
	border-radius: 4px;
	border:1px solid blue;
	color: blue;
	width: 150px;
	height: 45px;
	background-color: white;
	font-size: 15px;

}

.body .pricing p{
	color: gray;

}
.btn:hover{
	background-color: blue;
	color:white;
	transition: background-color 0.5s;
	/*transition:color 0.5s;*/
}

/*                                   page 7                    */
#item-expert{
	background-image: url(./img/background/background3.webp);
}
.experts1{
	position: absolute;
	/*background-color: red;*/
	width: 30%;
	height: 60%;
	float: left;
	top: 25%;
	margin-left: 20%	
}
.experts2{
	position: absolute;
	/*background-color: red;*/
	width: 25%;
	height: 60%;
	float: left;
	top: 25%;
	left: 35%;
	margin-left: 18%
}
.expert-img{
	position: absolute;
	left: 6%;
	top: 8px;
    background-size: cover;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-image: url(./img/team/team2.webp);
}
.expert-exp{
	/*background-color: yellow;*/
	width: 120px;
	height: 100px;
	position: absolute;
	left: 33%;

}
.expert-desc{
	/*background-color: aqua;*/
	width: 380px;
	height: 100px;
	position: absolute;
	bottom: 0;
	top: 25%
}
.expert-exp h2{
	line-height: 10px;
	color: white;
	font-size: 22px;
	font-family: cursive;
}
.expert-exp p{
   color: #7DB1E5;
   font-size: 12px;
   font-family: cursive;

}
.expert-desc{
	/*line-height: 60px*/
	margin-top:60px ;
	color: white;
	font-size: 15px;
	font-family: cursive;
}

#expert-img1{
	background-image: url(./img/team/team1.webp);
}
/*            page 8              */
.team{
	z-index: 1;
	position: relative;
	width: 25%;
	height: 68%;
	background-color: white;
	/*border-radius: 10%;*/
	float: left;
	margin-left: 80px;
	margin-top: 5%
}
.team:after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background-color: black;
	height: 0;
	z-index: -1;
	transition:height 0.5s;

}

.team:hover:after{
	height: 100%;

}

.team:hover .team-name{
	color: white;
	transition:color 0.5s;
}
.team:hover .team-name p{
	color: gray;
	transition:color 0.5s;
}

.team-cadre{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.team-name{
	position: absolute;
	width: 150px;
	height: 20px;
	/*background-color: yellow;*/
	bottom: 11%;
	left: 29%;
	text-align: center;
	font-size: 25px;
	font-family: cursive;
	color: #7DB1E5
}
.team-name p{
	font-size: 13px;
	line-height: 5px;
	color: black
}
.team1{

background-image: url(./img/team/team1.webp);
}
.team:hover .team1{
	opacity: 0.7
}
.team:hover .team2{
	opacity: 0.7
}
.team:hover .team3{
	opacity: 0.7
}
.team2{
background-image: url(./img/team/team2.webp);
}

.team3{
background-image: url(./img/team/team3.webp);
}
.team-icons{
	top:63px;
	/*width: 45px;*/
     width: 0;
	height: 35%;
	position: absolute;
	z-index: 1;
	right: 18px;

	background-color: #7DB1E5;
	opacity: 0;
	visibility: hidden;
	transition: width 0.5s
}
.team:hover .team-icons{
	opacity: 1;
	visibility: visible;
	width: 45px;
}
.team-icons ul{
position: absolute;
left: -65%
}
.team-icons ul li{
	list-style: none;
	margin-top: 5px
}
.team-icons ul li i{
	color: white;
}
/*                          page 8         */
.news{
	position: relative;
	/*background-color: red;*/
	width: 30%;
	height: 70%;
	margin-top: 35px;
	font-size: 10px;
	float: left;
	margin-left: 32px

}
.new-pic{
   background-color: yellow;
   background-image: url(./img/blog/blog1.webp);
   background-size: cover;
   width:100%;
   height: 45%;
   margin-bottom:2%
}
.news i{
	margin-left: 10px;
	color:#7DB1E5;

}
.news a{
	text-decoration: none;
	font-size: 18px;
	margin-left: 10px;
	color: #7DB1E5;
	font-family: cursive
}
.news h2{
   font-size: 22px;
   margin-left: 10px;
   margin-right: 15px;
   color: white
}
.news p{
  font-size: 15px;
  margin-left: 10px;
  margin-right: 15px;
  color: #999;
  font-family: cursive
}
#new-pic1{
	background-image: url(./img/blog/blog2.webp);
}
#new-pic2{
	background-image: url(./img/blog/blog3.webp);
}
.news i span{
 color: white;
 font-family: cursive
}
/*                                page 9            */
.body ul.ser{
	float: left;
	color: red;
	text-align: center;
	margin-left: 210px;
	margin-top: 60px
}
.body ul i{
	color:#7DB1E5       /*#1E1E1E*/
}
.body ul h1{
  color: white
}
.body ul p{
   color:#999;
}
.email{
	text-align: center;
}
.name{
	width: 23%;
	height: 30px;
	margin-bottom:15px;
	margin-left: 15px;
	font-family: cursive;
	border:1px solid  white;
}
.subject,.message{
	width: 650px;
	height: 30px;
	margin-bottom:15px;
	margin-left: 12px;
	font-family: cursive;
	border:1px solid  white;
}
.email-submit{
	font-size: 18px;
	padding: 13px;
	font-family: cursive;
	border:1px solid  white;
	background-color: #7DB1E5;
	color: white;
	border-radius: 4px
}
.email-submit:hover{
	border:1px solid #7DB1E5;
	background-color:white;
	color:#7DB1E5 ;
	transition: color 0.5s
}
/*page 10 */
.logo h1{
	font-size: 75px;
	font-family: cursive;
}
.logo i{
	color:#7DB1E5;
	margin-left: 15px
}

